* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Lato;
}

html {
	width: 100%;
	height: 100%;
	background: url(../img/noise.png) repeat top left;
	background-color: #737BCD;
	color: white;
	transition: background-color 0.5s ease;
}

body {
	width: 100%;
	height: 100%;
	display: block;
	background-image: linear-gradient(#60B9E0, transparent);
	background-size: 100% 100%;
	font-size: 14px;
}

input {
	width: 100%;
	max-width: 500px;
	height: 40px;
	margin: 10px auto;
	font-size: 20px;
	text-align: center;
	background: none;
	color: white;
	border: 1px solid rgba(255,255,255,0.5);
	font-weight: 300;
	display: block;
}

h1,h2,h3,h4,h5,h6 {
	text-align:center;
	font-weight: 300;
}

h1 {
	font-size: 3em;
	text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

input::-webkit-input-placeholder {
	color: white;
}

input[type=submit] {
	cursor: pointer;
	text-transform: capitalize;
}

#fbpic {
	position: absolute;
	top:1em;
	left:1em;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
}

#err {
	display:none;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	padding: 1em;
	text-align: center;
	color: white;
	background: red;

	-webkit-animation: enter;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-moz-animation: enter;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-out;
	animation: enter;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

.error {
	background-color: red;
}

.error #err {
	display: block;
}

.error #err ~ * {
	opacity: 0.5;
}

#intro {
	width: 100%;
	height: 100%;
	display: none;
}

.loading #intro, .vcentre {
	display: block;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

}

#intro span {
	text-align:center;
	display: block;
	opacity:1;
	height: 1em;
	transition: all 0.5s ease;
}

.loaded #intro span {
	opacity:0;
	height:0em;
}

.loading #intro .begin-button {
	height: 2em;
	width: 100%;
	background-color: #60B9E0;
	background-image:url(../img/stripe.svg);
	background-size: 1em 1em;
	margin: 1em 0;
	-webkit-animation: think;
	-webkit-animation-duration: 0.15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation: think;
	-moz-animation-duration: 0.15s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation: think;
	animation-duration: 0.15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	transition: all 0.5s ease;
	color: transparent;
}

.loaded #intro .begin-button {
	cursor: pointer;
	background-color: #E06060;
	color: white;
	background-image: none;
	text-align: center;
	height: 2em;
	line-height: 2em;
	font-size: 3em;
	font-weight: 200;
}

@-webkit-keyframes think {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 1em;
	}
}

@keyframes think {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 1em;
	}
}

@-webkit-keyframes enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(150%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@keyframes enter {
	0% {
		opacity: 0;
		-webkit-transform: translateY(150%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

main {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	transition: all 0.5s ease;
	-webkit-animation: enter;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
}

/* ------- PROGRESS BAR -------- */

#progress {
	display: block;
	position: fixed;
	z-index: 200;
	left:2em;
	right:2em;
	bottom:0.5em;
	height: 2em;
	border-radius: 1em;
	border: 2px solid white;
	background: linear-gradient(rgba(0,0,0,0.2), transparent);
	box-shadow: inset 0 3 10px -5px rgba(27, 52, 63, 0.19);
	-webkit-animation: enter;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-moz-animation: enter;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-out;
	animation: enter;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

#progress-inner {
	width: 0%;
	height: 100%;
	background: white linear-gradient(transparent ,#FFFFFF);
	position: relative;
	border-radius: 1em;
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	transition: width 0.5s ease;
}

#progress-inner::before {
	content: attr(data-index)" / "attr(data-total);
	position: absolute;
	display: block;
	color: white;
	z-index:100;
	right: 0;
	bottom:100%;
	height: 100%;
	-webkit-transform: translateX(50%);
	font-size: 1.2em;
	white-space: nowrap;
}

/* Hide main and progress while loading and summary! */
.loading main, .loading #progress {
	display: none;
	opacity:0;
	-webkit-transform: translateY(150%);
	-moz-transform: translateY(150%);
	transform: translateY(150%);
}

.summary main, .summary #progress {
	opacity:0;
	-webkit-transform: translateY(150%);
	-moz-transform: translateY(150%);
	transform: translateY(150%);
}

/* ------- QUESTION SLIDES -------- */

section.question {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	z-index: -1;
	pointer-events: none;
	overflow: hidden;
}

section.question.active {
	opacity:1;
	z-index: 100;
	pointer-events: all;
	overflow: visible;
}

section.question .wrapper {
	padding: 5em 0;
}

h3 {
	border-bottom: 1px dashed white;
	font-size: 2em;
	padding: 0.5em;
	margin: 0.5em 0;
	display: block;
}

/* ------- SUBMIT ANSWER BUTTON -------- */

.answer-button {
	width: 100%;
	max-width: 300px;
	height: 45px;
	line-height: 43px;
	margin: 10px auto;
	font-size: 20px;
	text-align: center;
	background: transparent;
	color: white;
	border: 1px solid rgba(255,255,255,0.5);
	font-weight: 300;
	display: block;
	cursor: not-allowed;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity:0.5;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
}

.answer-button.enabled {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	cursor: pointer;
}

.answer-button.enabled:hover {
	background: #62AE6B;
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	transition: background 0.2s ease;
}

/* ------- ANSWER RADIO/CHECKBOX INPUTS -------- */

.answer-input-wrapper {
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.answer-input-row {
	vertical-align: middle;
	padding: 1em 0.5em;
}

.answer-input-wrapper input[type=radio] {
	display: none;
}
.answer-input-wrapper input[type=checkbox] {
	display: none;
}


.answer-input-wrapper label {
	display: block;
	line-height: 2em;
	font-size: 1.5em;
	cursor: pointer;
}

.answer-input-wrapper label::before {
	content:"";
	display: inline-block;
	vertical-align: middle;
	height: 2em;
	width:2em;
	border: 1px solid white;
	background: rgba(0,0,0,0.1);
	margin-right: 1em;
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	transition: background 0.2s ease;
}

.answer-input-wrapper input[type=radio] + label::before {
	border-radius: 50%;
}

.answer-input-wrapper input:checked + label::before {
	background: white;
}

/* ------- HINT BUTTON -------- */

.hint-button {
	cursor:pointer;
	text-align: center;
	width: 7em;
	margin: auto;
	font-size: 1.2em;
	background: white;
	padding: 0.3em;
	cursor: help;
}

.hint-text {
	color: white !important;
	text-align: center;
}

.hint-text::before {
	content: "Hint: ";
}

/* ------- SUMMARY SECTION -------- */

.summary main, .summary #progress {
	opacity:0;
	-webkit-transform: translateY(150%);
	-moz-transform: translateY(150%);
	transform: translateY(150%);
	height: 0;
}

#summary {
	display: none;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
}

.summary #summary {
	display: block;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

	transition: all 0.5s ease;
	-webkit-animation: enter;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
}

#summary .wrapper {
	width: 100%;
}

/* ------- SCORE OUTPUT -------- */

#score-display {
	width: 50%;
	margin: 1em auto;
}

#score-display > div {
	font-size: 4em;
	width: 50%;
	margin: auto;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

#total-score {
	text-align: center;
	border-bottom: 2px solid white;
}

#score-meter {
	width: 50%;
	height: 75%
	float: left;
	background: blue;
	position: absolute;
	top:25%;
}

/* ------- ANSWERS LIST -------- */

ol#answers-list {
	padding: 2em;
	counter-reset: answers;
	list-style: none;
}

ol#answers-list li {
	float: left;
	display: block;
	font-size: 3em;
	counter-increment: answers;
	border: 1px solid white;
	margin: 0.2em;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.7em;
	padding-left: 0.5em;
	text-align: center;
	position: relative;
}

ol#answers-list li::before {
	content: counter(answers);
	font-size: 0.5em;
	display: block;
	position: absolute;
	top:0.1em;
	left:0.2em;
	line-height:1;
	text-align: left;
}

ol#answers-list li::after {
	content: "X";
	color: red;
}

ol#answers-list li.correct::after {
	content: "✓";
	color: limegreen;
}



/* ------- LEADERBOARD -------- */

ol#leaderboard {
	counter-reset: leaderboard;
	list-style: none;
	padding: 1em 3em 0 0;
	margin-top: 1em;
	border-top: 1px dashed white;
}

ol#leaderboard::before {
	content: "Leaderboard";
	text-align: center;
	display: block;
	margin-bottom: 0.3em;
	font-size: 3em;
	margin-left: 1em;
	font-weight: 300;
	text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

ol#leaderboard li {
	display: block;
	line-height: 2em;
	height: 2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	counter-increment: leaderboard;
	padding-left: 3em;
	font-size: 2em;
	border: 1px solid white;
	border-left: none;
}

ol#leaderboard li img {
	display: block;
	float: left;
	margin: 0.25em 1em 0.25em 0.25em;
	height: 1.5em;
	border-radius: 50%;
}

ol#leaderboard li::before {
	content: counter(leaderboard);
	font-size: 1.5em;
	display: block;
	position: absolute;
	top:0;
	height: 100%;
	border-right: 1px solid white;
	left:0.4em;
	padding-right: 0.5em;
	line-height:1.2em;
	text-align: right;
}


/* ------- CLEARFIX -------- */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ------- TWEET QUESTION -------- */

.tweet-text {
	margin: 0 2em 0 4em;
	padding: 1em;
	background: white;
	color: #333;
	box-shadow: 0 1px 3px hsla(0,0%,0%,0.3);
	border-top: 0.2em solid;
	margin-top: -3em;
	font-size: 0.7em;
}

.tweet-meta {
	float: right;
	margin-top: 0.5em;
	margin-right: 2em;
	background: white;
	color: #666;
	line-height: 3.3em;
	padding: 0 1em 0 4em;
	background-repeat: no-repeat;
	background-size: 3.3em;
}


.tweet-meta a {
	color: inherit;
}