* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Lato;
}

html {
	width: 100%;
	height: 100%;
	background: #737BCD url(../img/noise.png) repeat top left;
	color: white;
}

body {
	width: 100%;
	height: 100%;
	display:table;
	background-image: linear-gradient(#60B9E0, transparent);
	background-size: 100% 100%;
	font-size: 14px;
}

input {
	width: 100%;
	max-width: 500px;
	height: 40px;
	margin: 10px auto;
	font-size: 20px;
	text-align: center;
	background: none;
	color: white;
	border: 1px solid rgba(255,255,255,0.5);
	font-weight: 300;
	display: block;
}

h1,h2,h3,h4,h5,h6 {
	text-align:center;
	font-weight: 300;
}

h1 {
	font-size: 3em;
	text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

input::-webkit-input-placeholder {
	color: white;
}

input[type=submit] {
	cursor: pointer;
	text-transform: capitalize;
}


#intro {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

#intro span {
	text-align:center;
	display: block;
}

#intro div {
	height: 2em;
	width: 100%;
	background-color: #60B9E0;
	background-image:url(../img/stripe.svg);
	background-size: 1em 1em;
	margin: 1em 0;
	-webkit-animation: think;
	-webkit-animation-duration: 0.15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation: think;
	-moz-animation-duration: 0.15s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation: think;
	animation-duration: 0.15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes think {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 1em;
	}
}

@keyframes think {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 1em;
	}
}

main {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

#progress {
	position: fixed;
	left:2em;
	right:2em;
	bottom:0.5em;
	height: 2em;
	border-radius: 1em;
	border: 2px solid white;
	background: linear-gradient(rgba(0,0,0,0.2), transparent);
	box-shadow: inset 0 3 10px -5px rgba(27, 52, 63, 0.19);
}

#progress-inner {
	width: 32%;
	height: 100%;
	background: white linear-gradient(transparent ,#FFFFFF);
	position: relative;
	border-radius: 1em;
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	transition: width 0.5s ease;
}

#progress-inner::before {
	content: attr(data-index)" / "attr(data-total);
	position: absolute;
	display: block;
	color: white;
	z-index:100;
	right: 0;
	bottom:100%;
	height: 100%;
	-webkit-transform: translateX(50%);
	font-size: 1.2em;
	white-space: nowrap;
}
